<div class="container-fluid mb-5">
  <div class="row">
    <div class="col">
      <h1>Unified Portal</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class='grid'>
        <div class='grid--item' (click)="gotoCommitteePage()">
          <div class='img'
               style='background-image: url(https://images.unsplash.com/photo-1417436026361-a033044d901f);'></div>
          <div class='container'>
            <h2>Snowy Hills</h2>
            <div class='desc'>This is going to be a long description of a committee</div>
          </div>
        </div>
        <div class='grid--item'>
          <div class='img'
               style='background-image: url(https://images.unsplash.com/44/MIbCzcvxQdahamZSNQ26_12082014-IMG_3526.jpg?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;w=1080&amp;fit=max&amp;s=49dab7a5e4b2e28b5707bc2db974c94b);'></div>
          <div class='container'>
            <h2>Bear</h2>
            <div class='desc'>Photo by Thomas Lefebvre</div>
          </div>
        </div>
        <div class='grid--item'>
          <div class='img'
               style='background-image: url(https://images.unsplash.com/photo-1425668273332-3a46ab26b161?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;w=1080&amp;fit=max&amp;s=d453ab3dec298c43415526458b360fa6);'></div>
          <div class='container'>
            <h2>Owl</h2>
            <div class='desc'>Photo by photostockeditor</div>
          </div>
        </div>
        <div class='grid--item'>
          <div class='img'
               style='background-image: url(https://images.unsplash.com/photo-1423145369430-a9ea0de096cd?crop=entropy&amp;fit=crop&amp;fm=jpg&amp;h=1375&amp;ixjsv=2.1.0&amp;ixlib=rb-0.3.5&amp;q=80&amp;w=1725);'></div>
          <div class='container'>
            <h2>Horse</h2>
            <div class='desc'>Photo by Annie Spratt</div>
          </div>
        </div>
        <div class='grid--item'>
          <div class='img'
               style='background-image: url(https://images.unsplash.com/photo-1432887382605-0abf9cc49e8f?crop=entropy&amp;fit=crop&amp;fm=jpg&amp;h=1375&amp;ixjsv=2.1.0&amp;ixlib=rb-0.3.5&amp;q=80&amp;w=1725);'></div>
          <div class='container'>
            <h2>Ice & Penguin</h2>
            <div class='desc'>Photo by Teodor Bjerrang</div>
          </div>
        </div>
        <div class='grid--item'>
          <div class='img'
               style='background-image: url(https://images.unsplash.com/photo-1417026846249-f31f7e43fc35?crop=entropy&amp;fit=crop&amp;fm=jpg&amp;h=1375&amp;ixjsv=2.1.0&amp;ixlib=rb-0.3.5&amp;q=80&amp;w=1725);'></div>
          <div class='container'>
            <h2>Pile of Logs</h2>
            <div class='desc'>Photo by Ales Krivec</div>
          </div>
        </div>
        <div class='grid--item'>
          <div class='img'
               style='background-image: url(https://images.unsplash.com/uploads/14122811862445bc266cf/931448f2?crop=entropy&amp;fit=crop&amp;fm=jpg&amp;h=1375&amp;ixjsv=2.1.0&amp;ixlib=rb-0.3.5&amp;q=80&amp;w=1725);'></div>
          <div class='container'>
            <h2>Winter Tree</h2>
            <div class='desc'>Photo by Mikael Kristenson</div>
          </div>
        </div>
        <div class='grid--item'>
          <div class='img'
               style='background-image: url(https://images.unsplash.com/uploads/14122811862445bc266cf/931448f2?crop=entropy&amp;fit=crop&amp;fm=jpg&amp;h=1375&amp;ixjsv=2.1.0&amp;ixlib=rb-0.3.5&amp;q=80&amp;w=1725);'></div>
          <div class='container'>
            <h2>Winter Tree</h2>

            <div class='desc'>Photo by Mikael Kristenson</div>
          </div>
        </div>
        <div class='grid--item'>
          <div class='img'
               style='background-image: url(https://images.unsplash.com/uploads/14122811862445bc266cf/931448f2?crop=entropy&amp;fit=crop&amp;fm=jpg&amp;h=1375&amp;ixjsv=2.1.0&amp;ixlib=rb-0.3.5&amp;q=80&amp;w=1725);'></div>
          <div class='container'>
            <h2>Winter Tree</h2>
            <div class='desc'>Photo by Mikael Kristenson</div>
          </div>
        </div>
        <div class='grid--item' (click)="gotoCommitteePage()">
          <div class='img'
               style='background-image: url(https://images.unsplash.com/photo-1417436026361-a033044d901f?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;w=1080&amp;fit=max&amp;s=faa4e192f33e0d6b7ce0e54f15140e42);'></div>
          <div class='container'>
            <h2>Snowy Hills</h2>
            <div class='desc'>Photo by Ales Krivec</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

