<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="display-3" style="text-align: center">Fit</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <slideshow [height]="height"
                 [minHeight]="'525px'"
                 [autoPlay]="true"
                 [showArrows]="false"
                 [imageUrls]="imageSources"
                 [lazyLoad]="imageSources?.length > 1"
                 [autoPlayWaitForLazyLoad]="true">
      </slideshow>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="h5">About:</div>
      <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat mi vitae est aliquam laoreet.
        Aliquam ultrices ullamcorper pretium. In bibendum, ligula sit amet aliquet suscipit, odio mi congue lectus, vel
        tempus est mauris non nisl. Nam id quam at nisl feugiat ornare sit amet id urna. Vivamus congue ex ac nunc
        vestibulum, quis suscipit arcu vestibulum. Nulla et libero vitae dui ornare sagittis. Nullam suscipit quam eu
        libero fermentum, ut faucibus nisi blandit. Sed lobortis turpis id lacus dignissim luctus. Phasellus vitae
        posuere felis, quis vulputate enim. Nam semper luctus iaculis. Suspendisse tempor mi at condimentum sagittis.
        Mauris at justo ex. Donec ut varius leo. Aenean quis dictum libero. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus.
      </p>
      <p>
        Etiam condimentum, ipsum a luctus congue, massa nisl imperdiet risus, eget malesuada lectus mauris non elit.
        Phasellus id enim non orci ultrices tempus. Quisque porta ut turpis vel hendrerit. Sed quis justo mattis,
        tincidunt lacus ac, tempor lorem. Cras quis diam scelerisque, sollicitudin enim vel, gravida ex. Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut vitae bibendum erat.
        Phasellus id enim eget lorem imperdiet mattis a in eros. Duis fermentum quam id tortor tincidunt, quis vulputate
        nisi dignissim. Aliquam ullamcorper, justo eget iaculis luctus, sapien purus maximus enim, eu pulvinar risus mi
        et quam. Praesent elit augue, euismod eget porttitor sed, lobortis auctor nunc. Phasellus convallis, augue id
        scelerisque semper, lorem nisi tincidunt arcu, ut mattis metus justo id urna. Pellentesque gravida orci mauris,
        vel iaculis leo fermentum non. Nunc purus magna, porttitor vitae cursus vitae, eleifend sit amet eros.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Event Search">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-7" >
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of columns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="column==='register'">
              <button mat-raised-button (click)="openDialogBox()">Register</button>
            </div>
            <div *ngIf="column!=='register'">{{element[column]}}</div>
          </td>
        </ng-container>
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Event Date</th>
          <td mat-cell *matCellDef="let element">
            <div>{{element['weight'] | date }}</div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>
    <div class="col">
      Placeholder
    </div>
  </div>
</div>
